{% extends 'base.html' %}

{% block content %}
<!-- A propos -->

<div class="container mt-5 p-5 border border-warning">
  <div class="position-relative">
        <h1 class="text-danger">À PROPOS DE VISION VOYAGES</h1>
  </div>
  <div class="container p-5 my-5 bg-dark text-white">
        Etant une agence de voyages Tunisienne de catégorie A, Vision Voyages crée en 2003 s’est dotée de plusieurs avantages acquises par l’expérience de son personnel à travers les activités d’assistance, de conseil de ces clients pour toutes les destinations à travers le monde entier

        Etant proche de ces clients en vue de les offrir les meilleures prestations et solutions de voyages, Vision voyages a diversifiée son catalogue de produit afin de proposer une gamme complète pour un objectif d’optimiser la réactivité et la capabilité de s’adapter aux besoins de nos clients.

        La Direction de Vision Voyages, consciente des enjeux et des risques associés aux activités des agences de voyages dans un monde en perpétuel changement de plus en plus complexe. Ceci exige une bonne flexibilité et réactivité, une meilleure organisation et gestion ainsi que la maîtrise des risques liées aux produits et services offerts.

        La Direction Générale de vision voyages a décidé de mettre en place un système de management de la qualité afin d’optimiser l’efficacité et l’efficience de ces processus par le biais d’une meilleure gestion des ressources humaines, d’une meilleure planification et surveillance des processus et d’une démarche d’analyse des données « sources» d’une maîtrise de l’amélioration continue.
    </div>
</div>

{% endblock %}
